<div class="container" style="height: 100vh;">
      <div class="row justify-content-md-center">
            <div class="col-md-5">
                  <div class="card  welcome-back tiffinaww-logo">
                        <div class="card-body">
                              <a routerLink="/">
                                    <img style="height: 50px;" src="./../../../assets/img/logo_tiffin_aaw.webp" alt=""
                                          srcset="">
                              </a>
                        </div>
                  </div>
            </div>
      </div>

      <div class="row justify-content-md-center align-items-center" style="height: 80vh;">
            <div class="col-md-5">
                  <div class="card login-pannel">
                        <div class="card-body">
                              <h2 class="welcome-back text-center p-2">
                                    <span style="color: green;">
                                          Welcome <span class="text-dark">Back</span>
                                    </span>
                              </h2>
                              <p>Please login to continue.</p>
                              <form [formGroup]="loginForm">
                                    <div class="row g-0">
                                          <div *ngIf="error" class="alert alert-danger p-2">
                                                <i class="pi pi-times"></i>{{error}}
                                          </div>
                                          <div class="my-2">
                                                <div class="p-inputgroup">
                                                      <span class="p-inputgroup-addon">
                                                            <i class="pi pi-mobile"></i></span>
                                                      <input type="text" pInputText placeholder="Mobile" id="mobile"
                                                            formControlName="phoneNumber">
                                                </div>
                                          </div>
                                          <div class="my-2 ">
                                                <div class="p-inputgroup">
                                                      <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                                      <input type="{{showPassword?'text':'password'}}" pInputText
                                                            placeholder="Password" id="password"
                                                            formControlName="password">
                                                      <span (click)="showPassword = !showPassword"
                                                            class="p-inputgroup-addon"><i class="pi pi-eye"></i></span>
                                                </div>
                                          </div>
                                          <div class="my-2 text-end">
                                                <a href="">Forgotten password?</a>
                                          </div>
                                          <button pButton pRipple type="button" (click)="Login()" label="Log in"
                                                class="p-button-raised p-button-success p-2"></button>
                                          <p-divider align="center" type="dashed">
                                                <b>or</b>
                                          </p-divider>
                                          <div class="text-center">
                                                <a routerLink="/auth/signup">Create new account?</a>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </div>
                  <app-ufklogo class="text-center"></app-ufklogo>
            </div>
      </div>
</div>