.register_outer {
    position: relative;
    display: flex;
    color: green;
}

.register_inner {
    justify-content: end;
    align-items: end;
}


._2tnu {
    background: #2b1e16;
    color: green;

}

._12i5X {
    color: white;
}

.ufk-solutions {
    color: green;
}

.link-style {
    text-decoration: none;
}