.ta-auth-button button,
.skip {
      padding: 1% 2%;
      border-radius: 0;
      box-shadow: none;
      margin: 0 0 0 1%;
}

.ta-auth-button>button:focus {
      border: none;
      outline: none;
}

.ta-box {
      padding: 2px;
      margin: 2px !important;
      border: none !important;
      box-shadow: none;
}

.ta-box p {
      padding: 2px;
      margin: 0px !important;
}

:host ::ng-deep .p-autocomplete input:focus {
      border-color: none;
      box-shadow: none;
}

 ::ng-deep .landing-region-dialog .p-dialog *  {
      padding: 2% ;
      margin: 0% ;
}

::ng-deep .p-button-success {
      padding: 1% 2% !important;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
}

.ta-popular-regions>span {
      display: inline-block;
}

.ta-popular-regions::before {
      content: '';
      border: green 2px solid;
}

.ta-proceed {
      padding: 4px;
}

.tiffin-aww-image {
      height: 32vh;
}

.card-body {
      padding: 2px 0px !important;
}

@media only screen and (min-width: 768px) {
      .tiffin-aww-image {
            height: 55vh;
      }

      .ta-box {
            padding: 2px;
            margin: 2% 0 !important;
            border: none !important;
            box-shadow: none;
      }
}

.highLight-content-0 {
      font-size: 2em;
      animation: fadeIn 2s;
      margin: 2px;
}

.highLight-content-1 {
      font-size: 2em;
      animation: fadeOut 2s;
      margin: 2px;
}

@keyframes fadeIn {
      0% {
            opacity: 0.2;
      }

      100% {
            opacity: 1;
      }
}

@keyframes fadeOut {
      0% {
            opacity: 0.2;
      }

      100% {
            opacity: 1;
      }
}

.ta-footer-img {
      height: 200px;
      width: 150px;
      margin: 4px 0px !important;
}

@media only screen and (max-width: 768px) {
      .ta-delivery {
            display: none;
      }
}