::ng-deep .ng-image-slider .ng-image-slider-container .main .main-inner .img-div img,
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div video {
      border-radius: 15px !important;
}

::ng-deep .ng-image-slider .ng-image-slider-container .main .main-inner .img-div {
      border-radius: 15px !important;
}

::ng-deep .ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption {
      padding: 5px;
      border-radius: 15px !important;
}