.btn-small mat-icon {
      font-size: 150% !important;
}

.w-30 {
      width: 30%;
}
.counter {
      display: inline-block;
      margin-inline: 14px;
      margin-block: 16px;
      font-weight: 600;
}

.counter-search{
      min-width: 140px; 
}
