<div class="row">
      <div class="col-sm-4">
            <div class="p-inputgroup counter-search">
                  <input type="number" class="p-inputtext-sm" [formControl]="PageNoControl" pInputText
                        placeholder="Jump To Page" appFormErrorMessages min="1" max="{{TotalPages?TotalPages:1}}">
                  <button (click)="PageJumpTo()" type="button" class="p-button-success" pButton pRipple
                        label="Go"></button>
            </div>
      </div>
      <div class="col-sm-4 text-center">
            <span class="counter">Total records : {{TotalRecords? TotalRecords:0}} </span>
      </div>
      <div class="col-sm-4 text-end">
            <span class="counter">Page {{CurrentPage?CurrentPage:1}} of {{TotalPages?TotalPages:1}}</span>

            <button [disabled]="CurrentPage == 1" (click)="pageChanged(-1)" type="button"
                  class="p-button-text p-button-small" pButton pRipple icon="pi pi-arrow-left"></button>

            <button [disabled]="CurrentPage == TotalPages" (click)="pageChanged(+1)" type="button"
                  class="p-button-text p-button-small" pButton pRipple icon="pi pi-arrow-right"></button>
      </div>
</div>