<div class="container-xxl">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-primary-dark header">Contact us</h3>
        </div>
        <div class="col-lg-12 my-4 text-secondary">
            Last updated on Mar 11th 2023
        </div>
        <div class="col-lg-12">
            <div>
                <p class="text-secondary">You may contact us using the information below:</p>
                <div>
                    <label class="text-secondary">Merchant Legal entity name:</label>
                    <span class="text-secondary ms-2">Tiffin Aaw</span>
                </div>

                <div>
                    <label class="text-secondary">Registered Address:</label>
                    <span class="text-secondary ms-2"> 0, near my school, Iqnou Road, Srinagar Srinagar JAMMU & KASHMIR 190008</span>
                </div>
                <div>
                    <label class="text-secondary">Operational Address:</label>
                    <span class="text-secondary ms-2"> 0, near my school, Iqnou Road, Srinagar Srinagar JAMMU & KASHMIR 190008</span>
                </div>
                <div>
                    <label class="text-secondary">Telephone No:</label>
                    <span class="text-secondary ms-2">Tiffin Aaw</span>
                </div>
                <div>
                    <label class="text-secondary">E-Mail ID:</label>
                    <span class="text-secondary ms-2">tiffinaaw@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</div>