<div class="container-xxl px-0 cat-item">
      <p-confirmDialog [style]="{width: '90vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text text-dark"
            acceptButtonStyleClass="p-button-success"></p-confirmDialog>
      <div class="row mx-auto">
            <div class="col-lg-12 px-0">
                  <div class="card p-1 shadow">
                        <ng-image-slider [imageSize]="{width: width, height: '10%', space: 1}" [defaultActiveImage]="1"
                              [manageImageRatio]="false" [images]="Categories" [infinite]="true" [imagePopup]="false"
                              [animationSpeed]="1" [showArrow]="false" (imageClick)="catagoryClick($event)"
                              [autoSlide]="0" #nav>
                        </ng-image-slider>
                  </div>
            </div>
            <div class="col-lg-12 mt-4 py-1 mb-0 bg-grey">
                  <div class="d-flex align-items-center">
                        <span class="mt-2"><p-inputSwitch (onChange)="handleChange($event)"
                                    [formControl]="itemTypeControl"></p-inputSwitch></span>
                        <span class="ml-3 fw" [ngClass]="itemTypeControl.value? 'text-success':'text-dark'">Veg</span>

                  </div>
            </div>

            <div class="col-lg-12 py-2 bg-light text-center">
                  <h4><span class="active-category">{{categoryName}}</span></h4>
            </div>

            <div class="col-lg-12 bg-light">
                  <div class="row mx-auto">
                        <div *ngIf="empty"
                              class="col-lg-12 col-sm-12 col-xs-12 px-2 py-2 text-muted py-2 mb-2 text-center">
                              <h5>
                                    Sorry! no items for {{categoryName}} for now
                              </h5>
                        </div>
                        <div *ngFor="let item of FilteredItems | async; index as i"
                              class="col-lg-4 col-sm-6 col-xs-6 px-2 mb-2">
                              <div class="card p-2 h-100">
                                    <div class="row">
                                          <div class="col-8">
                                                <p-toast position="top-center"></p-toast>
                                                <span class="pi pi-stop-circle fw-bold"
                                                      [ngClass]="item?.isVeg? 'text-success':'text-danger'"></span>
                                                <span>&nbsp; {{item?.itemName}}</span>
                                                <p class="text-secondary my-2">
                                                      {{item?.itemDescription}}</p>
                                          </div>
                                          <div class="col-4 text-end item-price">
                                                <p class="text-secondary pull-right">Starts From</p><br>
                                                <p>{{item?.itemPrice | currency:'INR'}}</p>
                                                <button (click)="OpenItemDialog(item)" pButton pRipple
                                                      class="p-button-success p-button-rounded" label="Add"
                                                      icon="pi pi-plus">
                                                </button>
                                                <p *ngIf="item?.itemTypes?.length"
                                                      class="text-secondary mt-2 customizable">
                                                      Customizable</p>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-lg-12">
                              <p-dialog [(visible)]="displayAddItemDialog" [modal]="true" [draggable]="false"
                                    [resizable]="false" acceptButtonStyleClass="accept-button">

                                    <ng-template pTemplate="header">
                                          <div class="row">
                                                <div class="col-lg-12">
                                                      <h3> <i class="pi pi-stop-circle fs-5 fw-bold"
                                                                  [ngClass]="SelectedItem?.isVeg? 'text-success':'text-danger'"></i>
                                                            {{SelectedItem?.itemName}}</h3>
                                                </div>
                                          </div>
                                    </ng-template>

                                    <ng-template pTemplate="content">

                                          <div class="row">
                                                <div *ngFor="let type of SelectedItem?.itemTypes" class="col-lg-12">
                                                      <span>{{type?.typeName}}</span>
                                                      <span class="pull-right fw-bold">
                                                            <span>{{type?.typeValue |
                                                                  currency:'INR'}}</span>
                                                            <p-radioButton [(ngModel)]="SelectedItem.selectedItemType"
                                                                  [value]="type"></p-radioButton>
                                                      </span>
                                                </div>
                                                <div class="col-lg-12 my-2 p-fluid">
                                                      <textarea rows="3" cols="30"
                                                            [(ngModel)]="SelectedItem.itemInstructions" pInputTextarea
                                                            placeholder="Any special food instruction for chef, e.g less spicy, etc."
                                                            [autoResize]="true"></textarea>
                                                </div>
                                          </div>
                                    </ng-template>

                                    <ng-template pTemplate="footer">
                                          <div class="row mt-2">
                                                <div class="col-lg-6 text-start half">
                                                      <p-inputNumber class="text-center" [allowEmpty]="true" value="0"
                                                            [showButtons]="true"
                                                            [value]="SelectedItem.count ? SelectedItem.count:1"
                                                            [min]="1" [(ngModel)]="SelectedItem.count"
                                                            buttonLayout="horizontal" inputId="horizontal"
                                                            spinnerMode="horizontal" [step]="1"
                                                            decrementButtonClass="p-button-secondary"
                                                            incrementButtonClass="p-button-secondary"
                                                            incrementButtonIcon="pi pi-plus"
                                                            decrementButtonIcon="pi pi-minus">
                                                      </p-inputNumber>
                                                </div>
                                                <div class="col-lg-6 half">
                                                      <p-button (click)="AddToCart(SelectedItem)"
                                                            [label]="'Add'+' ' + ( (SelectedItem?.selectedItemType?.typeValue? SelectedItem?.selectedItemType?.typeValue *SelectedItem?.count : SelectedItem?.itemPrice * SelectedItem?.count) | currency:'INR') "
                                                            styleClass="p-button-success p-button-rounded"
                                                            class="pull-right"></p-button>
                                                </div>
                                          </div>

                                    </ng-template>
                              </p-dialog>
                        </div>
                  </div>
            </div>

      </div>
</div>