<app-carousel></app-carousel>
<div class="container-xxl">
      <div class="row">
            <div class="col-lg-12 px-0">
                  <div class="card bg-light">
                        <div class="row mx-auto">
                              <div class="col-lg-6 col-sm-6 my-auto half">
                                    <img src="../../../assets/img/registration-background.webp" width="100%"
                                          height="300">
                              </div>
                              <div class="col-lg-6 col-sm-6 half my-auto">
                                    <div class="row d-flex align-items-center mx-auto">
                                          <div class="col-lg-12">
                                                <h4><strong><i>Ready to</i><i class="text-success ms-2">Go
                                                                  !</i></strong></h4>
                                          </div>
                                          <div class="col-lg-8">
                                                <ul class="px-2">
                                                      <li class="text-secondary fs-5">Homemade chicken biryani</li>
                                                      <li class="text-secondary fs-5">zero preservatives</li>
                                                      <li class="text-secondary fs-5">No added color </li>
                                                </ul>
                                          </div>
                                          <div class="col-lg-4">
                                                <button pButton label="View"
                                                      class="p-button-success p-button-rounded"></button>
                                          </div>

                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
<app-category></app-category>