
<div class="container-xxl px-0 sticky-top mb-3" [ngClass]="stickHeader?'sticky-top':''">
   
    <nav class="navbar navbar-expand-lg custom-nav py-0">
        <div class="container-xxl" [ngClass]="stickHeader?'shadow':''">
            <a class="navbar-brand" href="#">
                <img src="./../../../assets/img/logo.png" style="height: 65px;width: 100px;" alt="Tiffin Aww">
            </a>
            <button (click)="collapsed = !collapsed" class="navbar-toggler" type="button"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div  class="" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <button type="button" pButton icon="pi pi-map-marker" label="{{selectedRegion ? selectedRegion:'Select Region'}}"
                            (click)="menu.toggle($event)" class="p-button-text text-secondary"></button>
                        <p-menu [appendTo]="'body'"  [baseZIndex]="1111" [autoZIndex]="true" #menu [popup]="true" [model]="regions"></p-menu>
                 
                </ul>
                <ul class="nav justify-content-end">
                    <!-- <a class="link-style" [routerLink]="['/auth/login']">
                        <button pButton pRipple type="button" label="Search" icon="pi pi-search"
                            class=" p-button-plain p-button-text nav-hover">
                        </button>
                    </a> -->
                    <a *ngIf="!loggedIn" class="link-style" (click)="NavigateToSignIn()">
                        <button pButton pRipple type="button" label="Sign In" icon="pi pi-user"
                            class="p-button-plain p-button-text nav-hover"></button>
                    </a>
                    <a *ngIf="loggedIn" class="link-style" (click)="SignOut()">
                        <button pButton pRipple type="button"  label="Sign Out" icon="pi pi-sign-in"
                            class="p-button-plain p-button-text nav-hover"></button>
                    </a>

                    <a *ngIf="loggedIn" class="link-style" routerLink="/public/cart">
                        <button pButton pRipple type="button" label="Cart" icon="pi pi-shopping-cart"
                            class="p-button-plain p-button-text nav-hover"></button>
                    </a>
                </ul>

            </div>
        </div>
    </nav>
</div>