.custom-nav {
    background-color: #ffffff;
}

.shadow{
 box-shadow: 0 8px 6px -6px black;
}
.p-button-plain:hover {
    color: green !important;
    background-color: white !important;
}

.p-button-plain:focus {
    box-shadow: none !important
}


.select-region:focus {
    box-shadow: none !important
}

.link-style {
    text-decoration: none;
}
