<div class="container-xxl px-0 mb-3" [ngClass]="stickHeader?'fixed-top':''">
  <nav class="navbar navbar-expand-lg custom-nav py-0" #nav>
    <div class="container-fluid pt-2" [ngClass]="stickHeader?'shadow':''">
      <a class="navbar-brand" routerLink="/public/home">
        <img src="./../../../assets/img/logo_tiffin_aaw.webp" style="height: 50px;" alt="Tiffin Aww">
      </a>
      <a class="navbar-brand">
        <p-dropdown [options]="regions" optionLabel="label" dropdownIcon="pi pi-globe" [formControl]="selectedRegion"
          [filter]="false" placeholder="Select region">
          <ng-template let-region pTemplate="item">
            <div class="country-item">
              <div>{{region?.label}} - {{region?.distance}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </a>



      <p-dropdown appendTo="body" placeholder="''" [formControl]="selected" class="navbar-toggler" (onChange)="NavigateTo($event?.value)"
        [options]="Items" optionLabel="label" dropdownIcon="pi pi-user" [filter]="false">
        <ng-template let-item pTemplate="item">
          <div class="item">
            <span> <i [class]="item?.icon + ' ' + 'mr-2'"></i></span>
            <span>{{item.label}}</span>
          </div>
        </ng-template>
      </p-dropdown>
      <!--  <p-dropdown appendTo="body" placeholder="''" class="navbar-toggler" (onChange)="NavigateTo($event?.value)" [options]="Items" optionLabel="label" dropdownIcon="pi pi-user" [filter]="false">
       </p-dropdown> -->

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav"
        [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav">
          <li *ngFor="let item of Items" class="nav-item ms-4">
            <a class="nav-link show-cursor" (click)="NavigateTo(item)" aria-current="page"><i
                [class]="item?.icon + ' '+ 'mr-2' "></i>{{item?.label}}</a>
          </li>
        </ul>

        <p-dialog [closable]="false" appendTo="body" [(visible)]="showConfirmation" [modal]="true"
          [style]="{width: '90vw'}" [draggable]="false" [resizable]="false">
          <ng-template pTemplate="header">
            <h4 class="fw-bold">Confirm Region {{selectedRegion.value?.label}}</h4>
          </ng-template>

          <ng-template pTemplate="content" class="mb-0">
            <div class="row">
              <div class="col-lg-12">
                <h5 class="mt-2 fw-bold text-secondary">{{selectedRegion.value?.label}} order timming</h5>
              </div>
              <div class="col-lg-12 my-2">
                <span class="type mr-2 fw-bold">Lunch : </span>
                <span>{{selectedRegion.value?.lunch}} </span>
              </div>
              <div class="col-lg-12">
                <span class="type mr-2 fw-bold">Dinner : </span>
                <span> {{selectedRegion.value?.dinner}} </span>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
            <div class="row d-flex align-items-center">
              <div *ngIf="!url?.includes('category-items')" class="col-lg-6 text-start w-50">
                <button type="button" pButton class="p-button-warning" label="Skip for now"
                  (click)="ResetRegion()"></button>
              </div>
              <div class="col-lg-6 text-start w-50" [ngClass]="url?.includes('category-items')?'col-lg-12 w-100':''">
                <button type="button" pButton class="p-button-success pull-right" icon="pi pi-check"
                  label="Proceed with Region" (click)="AcceptRegion()"></button>
              </div>
            </div>
          </ng-template>
        </p-dialog>
      </div>
    </div>
  </nav>
</div>