.custom-nav {
    background-color: #ffffff;
}

.p-button-plain:hover {
    color: green !important;
    background-color: white !important;
}

.p-button-plain:focus {
    box-shadow: none !important
}


.select-region {
    color: green !important;
    background: none !important;
    border: none !important
}

.dropdown-sign {
    display: none;
}

.select-region:hover {
    .dropdown-sign {
        display: inline;
    }
}

.select-region:focus {
    box-shadow: none !important
}

.link-style {
    text-decoration: none;
}