<div class="container p-0">
      <div class="row d-flex justify-content-center align-items-center p-2">
            <div class="col-12">
                  <div class="card p-2 m-0 fw-bold">
                        <div>Username: <span class="text-secondary">{{userProfile?.username}}</span> </div>
                        <div>Phone number: <span class="text-secondary">{{userProfile?.phoneNumber}}</span> </div>
                        <div>Email: <span class="text-secondary">{{userProfile?.email}}</span> </div>
                  </div>
            </div>
      </div>
</div>