<div class="container p-0 h-100 bg-light">
      <div class="row d-flex justify-content-center align-items-center p-2 " style="min-height: 90vh;">
            <div class="col-12">
                  <div class="card p-2 m-0 fw-bold">
                        <div class="text-secondary text-center fs-4 p-2">{{userProfile?.username}}</div>
                        <div>Phone number: <span class="text-secondary">{{userProfile?.phoneNumber}}</span> </div>
                        <div>Email: <span class="text-secondary">{{userProfile?.email}}</span> </div>
                  </div>
            </div>
      </div>
</div>