.ib{
      display: inline-block;
}

::ng-deep .p-upload-button .p-button.p-button-icon-only {
      width: 50% !important;
  }

  .ip{
      width: 150px;
      height: 120px;
      border: 1px solid rgb(91, 88, 88) !important;
  }