<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <span class="ib mt-1 fw-bold fs-5">Orders</span>
                                <button routerLink="/admin/place-order" pButton pRipple type="button" icon="pi pi-plus"
                                    class="p-button-rounded bg-light text-dark pull-right"></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p-toast></p-toast>
                                <p-tabView (onChange)="handleTabChange($event)">
                                    <p-tabPanel header="Latest Orders"> </p-tabPanel>
                                    <p-tabPanel header="Future Orders"></p-tabPanel>
                                    <p-tabPanel header="Completed Orders"></p-tabPanel>
                                    <p-tabPanel header="Admin Created Orders"></p-tabPanel>
                                    <p-tabPanel header="Admin Completed Orders"></p-tabPanel>
                                </p-tabView>
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>