
img {
    max-height: 100vh;
}

@media (max-width: 992px) {
.logo{
    margin-block-start: 10% !important;
}
}

.w-70 {
    width: 80%;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(9, 116, 9);
}