<div class="container" style="height: 100vh;">
    <div class="row justify-content-md-center my-2">
        <div class="col-md-5">
            <div class="card  welcome-back tiffinaww-logo">
                <div class="card-body">
                    <img style="height: 64px;" src="./../../../assets/img/logo.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center text-center my-2">
        <div class="col-md-5">
            <div class="card  welcome-back">
                <div class="card-body">
                    <p><span style="color: green;">Get </span>Registered</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-2  align-items-center" style="height: 64vh;">
        <div class="col-md-5">
            <div class="card login-pannel">
                <div class="card-body">
                    <p>Enter details to get started now!</p>
                    <form [formGroup]="signupForm">
                        <div class="row g-0">
                            <div class="my-2">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                    <input type="text" pInputText placeholder="Username" id="username"
                                        formControlName="username" appFormErrorMessages>
                                </div>
                            </div>
                            <div class="my-2">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                                    <input type="text" pInputText placeholder="Mobile" id="mobile"
                                        formControlName="phoneNumber" appFormErrorMessages>
                                </div>
                            </div>
                            <div class="my-2">
                                <div class="p-inputgroup ">
                                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                                    <input type="email" pInputText placeholder="Email"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email"
                                        formControlName="email" appFormErrorMessages>
                                </div>
                            </div>
                            <div class="my-2 ">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                    <input type="{{showPassword?'text':'password'}}" pPassword placeholder="Password"
                                        id="password" formControlName="password">
                                    <span (click)="showPassword = !showPassword" class="p-inputgroup-addon"><i
                                            class="pi pi-eye"></i></span>
                                </div>
                                <small class="text-secondary mt-2">Use 8 or more characters with a mix of lower-case,
                                    upper-case letters & numbers</small>
                            </div>
                            <button pButton pRipple type="button" (click)="signupUser()" label="Sign up"
                                class="p-button-raised p-button-success my-2"></button>
                            <p-divider align="center" type="dashed">
                                <b>or</b>
                            </p-divider>
                            <div class="my-2 text-center">
                                <a routerLink="/auth/login">Already have an account?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-2">
        <div class="col-md-5 text-center">
            <app-ufklogo />
        </div>
    </div>
</div>

<!-- <div class="row g-0 d-flex align-items-center">
    <p-toast></p-toast>
    <div class="col-lg-6 d-none d-lg-flex">
        <img src="../../../assets/img/registration-background.webp" alt="tiffin aaw" class="w-100 h-100" />
    </div>
    <div class="col-lg-6 px-3">

        <div class="row g-0 d-flex align-items-center" *ngIf="showOtp">
            <div class="row">
                <div class="col-lg-12 mb-3 text-center logo">
                    <img width="100" height="100" src="../../../assets/img/logo.png">
                </div>
                <div class="col-12 mb-2">
                    <h4 class="w-70 mx-auto">Verify OTP send to {{'98898989898'}}</h4>
                </div>
                <div class="col-lg-12">
                    <div class="w-70 mx-auto">
                        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6,allowNumbersOnly:true}">
                        </ng-otp-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0 d-flex align-items-center" *ngIf="!showOtp">
            <form [formGroup]="signupForm">
                <div class="row">
                    <div class="col-lg-12 text-center logo">
                        <img width="100" height="100" src="../../../assets/img/logo.png">
                    </div>
                    <div class="col-12 mb-0">
                        <h4 class="w-70 mx-auto">Create an account</h4>
                    </div>
                    <div class="col-12  mb-2">
                        <div class="p-inputgroup w-70 mx-auto">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Username" id="username"
                                formControlName="username" appFormErrorMessages>
                        </div>
                    </div>

                    <div class="col-12  my-2">
                        <div class="p-inputgroup w-70 mx-auto">
                            <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                            <input type="text" pInputText placeholder="Mobile" id="mobile" formControlName="phoneNumber"
                                appFormErrorMessages>
                        </div>
                    </div>

                    <div class="col-12 my-2">
                        <div class="p-inputgroup w-70 mx-auto">
                            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                            <input type="text" pInputText placeholder="Email"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email"
                                formControlName="email" appFormErrorMessages>
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <div class="p-inputgroup w-70 mx-auto">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <input type="text" pInputText placeholder="Password" id="password"
                                formControlName="password" appFormErrorMessages>
                        </div>
                    </div>
                    <div class="col-12 my-2 text-center">
                        <button pButton pRipple type="button" (click)="signupUser()" label="Sign up"
                            class="p-button-raised p-button-success"></button>
                    </div>
                    <div class="col-12 my-2 text-center">
                        <a routerLink="/auth/login">Already have an account? Log In !</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->