<div class="body p-4">
      <div class="row">
            <div class="col-lg-12">
                  <h5 class="text-success"><strong>Customer Information</strong> </h5>
            </div>
            <div class="col-lg-12 mt-2">
                  <form [formGroup]="CustomerInfoForm">
                        <div class="row">
                              <div class="col-lg-6 col-sm-12 p-fluid py-2">
                                    <span class="p-float-label">
                                          <input id="First Name" type="text" pInputText formControlName="username"
                                                appFormErrorMessages>
                                          <label for="First Name">User Name</label>
                                    </span>
                              </div>
                              <div class="col-lg-6 col-sm-12 p-fluid py-2">
                                    <span class="p-float-label">
                                          <input id="email" type="text" pInputText formControlName="email"
                                                appFormErrorMessages>
                                          <label for="email">Email</label>
                                    </span>
                              </div>

                              <div class="col-lg-6 col-sm-12 p-fluid py-2">
                                    <span class="p-float-label">
                                          <input id="Phone Number" type="text" pInputText formControlName="phoneNumber"
                                                appFormErrorMessages>
                                          <label for="Phone Number">Phone Number</label>
                                    </span>
                              </div>
                              <div class="col-lg-6 col-sm-12 p-fluid py-2">
                                    <span class="p-float-label">
                                          <p-dropdown id="order for" [options]="OrderTypes" formControlName="orderType"
                                                optionValue="value" optionLabel="name"></p-dropdown>
                                          <label for="order for">Order for</label>
                                    </span>
                              </div>
                              <div class="col-lg-12 p-fluid py-2">
                                    <span class="p-float-label">
                                          <textarea id="Order Address" type="text" rows="3" cols="10" pInputTextarea
                                                [autoResize]="false" formControlName="orderAddress"
                                                appFormErrorMessages>
                                                </textarea>
                                          <label for="Order Address">Order Address</label>
                                    </span>
                              </div>
                              <div class="col-lg-12 p-fluid py-2">
                                    <span class="p-float-label">
                                          <textarea id="Order Instructions" type="text" rows="3" cols="10"
                                                pInputTextarea [autoResize]="false" formControlName="orderInstructions"
                                                appFormErrorMessages>
                                                </textarea>
                                          <label for="Order Instructions">Order Instructions</label>
                                    </span>
                              </div>
                        </div>
                  </form>
            </div>
            <div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12 py-2">
                  <button class="pull-right mt-2 p-button-success" pButton pRipple icon="pi pi-arrow-right" label="Next"
                        (click)="NextStep()"></button>
            </div>
      </div>
</div>