<p>shipping-delivery works!</p>
<div class="container-xxl">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-primary-dark header">Shipping and delivery</h3>
        </div>
        <div class="col-lg-12 my-4 text-secondary">
       Shipping is not applicable for business.
        </div>
        <div class="col-lg-12">
            <div>
                <p class="text-secondary">Shipping is not applicable for business.</p>
            </div>
        </div>
    </div>
</div>