<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart">Today's Sales</div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Today's sales: {{todaysSales| currency:'INR' }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart">Today's Orders</div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Today's Orders: {{todaysOrders}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart">Today's Users</div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Today's registered users: {{todaysUser}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 col-md-6">
                <p-chart type="bar" [data]="dailyOrdersData" [options]="dailyOrdersOptions"></p-chart>
            </div>
            <div class="col-sm-12 col-md-6">
                <p-chart type="bar" [data]="monthlyOrdersData" [options]="monthlyOrdersOptions"></p-chart>
            </div>
            <div class="col-12">
                <p class="analytics-header">Orders Analytics</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 col-md-6">
                <p-chart type="bar" [data]="dailyUsersData" [options]="dailyUsersOptions"></p-chart>
            </div>
            <div class="col-sm-12 col-md-6">
                <p-chart type="bar" [data]="monthlyUsersData" [options]="monthlyUsersOptions"></p-chart>
            </div>
            <div class="col-12">
                <p class="analytics-header">Users Analytics</p>
            </div>
        </div>
    </div>
</div>