<div class="container-xxl p-1 h-100" style="background-color: rgb(243, 240, 240);">
      <p-toast position="top-center"></p-toast>
      <div class="row d-flex justify-content-center align-items-center" style="height: 90vh;">
            <div class="col-12">
                  <div class="card card-registration card-registration-2" style="border-radius: 2px;">
                        <div class="card-body p-0 bg-light">
                              <div class="row g-0">
                                    <div class="col-lg-12 text-center my-2">
                                          <p class="fw-bold float-center text-success">
                                                Cart <i class="fs-3 pi pi-shopping-cart  fw-bold"></i>
                                          </p>
                                          <hr class="my-2">
                                    </div>
                                    <div class="col-lg-12" [ngClass]="emptyCart ?'col-lg-12 empty-fcss' :''">
                                          <div *ngIf="emptyCart" class="text-center">
                                                <p class="fw-bold float-center">Your cart is empty!</p>
                                                <a routerLink="/public/home" class="text-success">Add Items</a>
                                          </div>
                                          <div *ngFor="let item of Items | async" class="col-12 px-2 mb-2">
                                                <div class="card p-2 h-100 border-none">
                                                      <div class="row">
                                                            <div class="col-10">
                                                                  <span class="pi pi-stop-circle fw-bold"
                                                                        [ngClass]="item?.isVeg? 'text-success':'text-danger'"></span>
                                                                  <span class="itemTitle ms-2">{{item?.itemName}}</span>

                                                                  <p class="text-secondary fs-small mt-2 mb-1">
                                                                        <span class="fw-bold text-secondaryl">Instructions
                                                                              :
                                                                        </span> {{item?.itemInstructions?
                                                                        item?.itemInstructions : 'No
                                                                        instructions'}}
                                                                  </p>
                                                                  <p class="text-secondary fs-small mt-0 mb-1">
                                                                        <span class="fw-bold text-secondary">Type
                                                                              :
                                                                        </span> {{item?.selectedItemType?
                                                                        item?.selectedItemType?.typeName :
                                                                        'Nomal'}}
                                                                  </p>
                                                            </div>
                                                            <div class="col-2 text-end">
                                                                  <span class="text-danger pull-right">
                                                                        <i (click)="DeleteCartItem(item)"
                                                                              class="pi pi-trash show-cursor"></i>
                                                                  </span>
                                                            </div>

                                                            <div class="col-lg-12 col-md-12 ">
                                                                  <span class="mt-2 fw-bold text-secondary">
                                                                        {{((item?.selectedItemType?.typeValue?
                                                                        item?.selectedItemType?.typeValue
                                                                        :item?.itemPrice)
                                                                        * item?.count) | currency:'INR'}}
                                                                  </span>
                                                                  <i>prices incl. gst</i>

                                                                  <span class="text-secondary float-right">
                                                                        Quantity :
                                                                        <span
                                                                              class="fw-bold ms-2">{{item?.count}}</span>
                                                                  </span>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div *ngIf="!emptyCart" class="col-12 bg-grey p-2">
                                          <h2 class="text-success text-center">Summary</h2>
                                          <div class="d-flex justify-content-between">
                                                <div class="text-secondary">Quantity</div>
                                                <div class="fw-bold">{{totalItems}} items</div>
                                          </div>
                                          <div class="d-flex justify-content-between">
                                                <div class="text-secondary">Subtotal</div>
                                                <div class="fw-bold">{{totalAmount | currency:'INR'}}</div>
                                          </div>
                                          <div class="d-flex justify-content-between">
                                                <div class="text-secondary">Delivery charges</div>
                                                <div class="fw-bold">free</div>
                                          </div>
                                          <div class="d-flex justify-content-between mb-2">
                                                <div class="text-secondary">Gst</div>
                                                <div class="fw-bold">Included</div>
                                          </div>
                                          <hr>
                                          <div class="d-flex justify-content-between">
                                                <div class="text-secondary fw-bold">Total :
                                                      <span class="text-dark"> {{totalAmount |
                                                            currency:'INR'}}</span>
                                                </div>
                                                <button routerLink="/public/checkout" pButton
                                                      class="p-button-success px-2 p-button-rounded float-right"
                                                      label="Proceed">
                                                </button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>