<div class="container-fluid text-center bg-dark">
    <div class="container" style="color:green;">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 py-4">
            <div class="col">
                <img width="50" height="100"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_210,h_398/4x_-_No_min_order_x0bxuf">
                <div>No Minimum Order</div>
                <div class="_12i5X">Order in for yourself or for the group, with no restrictions on order value
                </div>
            </div>
            <div class="col">
                <img width="50" height="100"
                    src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_248,h_376/4x_-_Super_fast_delivery_awv7sn">
                <div>Fast Delivery</div>
                <div class="_12i5X">Experience Tiffin Aww superfast delivery for food delivered fresh &amp; on
                    time
                </div>
            </div>
        </div>
        <h3 class="p-2">
            <a class="ufk-solutions link-style" href="https://ufksolutions.com/" target="_blank"
                rel="ufk solutions">Desgined by
                UFKSolutions</a>
        </h3>
    </div>
</div>