section {
      margin-left: 260px;
}

aside {
      width: 250px;
      float: left !important;
}

.navbar-brand {
      width: 250px !important;
      align-items: center;
}

.navbar-brand img {
      width: 40% !important;
}

header {}