<div class="container-xxl p-1 h-100" style="background-color: rgb(243, 240, 240);">
      <p-toast position="top-center"></p-toast>
      <div class="row d-flex justify-content-center align-items-center" style="min-height: 90vh;">
            <div class="col-12">
                  <div class="card card-registration card-registration-2 bg-secondary bg-light"
                        style="border-radius: 2px;">
                        <div class="card-body p-0">
                              <div class="row g-0 d-flex align-items-center">
                                    <div class="col-lg-12">
                                          <div class="p-2">
                                                <div class="d-flex justify-content-between align-items-center py-2">
                                                      <p class="fw-bold mb-0 text-success">My Orders</p>
                                                      <p class="mb-0 text-muted">{{totalItems}} orders</p>
                                                </div>
                                                <hr class="my-2">
                                                <div *ngIf="emptyOrders"
                                                      class="col-lg-12 bg-grey fs-2 text-center h-100">
                                                      <div>
                                                            <p class="fw-bold float-center">Empty!</p>
                                                            <button routerLink="/public/home" pButton
                                                                  class="p-button-success p-button-rounded"
                                                                  label="Make Order"></button>
                                                      </div>
                                                </div>
                                                <div *ngFor="let order of Orders | async"
                                                      class="row mb-4 d-flex justify-content-between align-items-center">
                                                      <div class="col-lg-12">
                                                            <div class="card bg-light p-2">
                                                                  <div class="col-12"
                                                                        *ngFor="let item of order?.orderItems;let i=index">
                                                                        <div class="col-12 ">
                                                                              {{i+1}}. {{item?.itemName}}
                                                                              <span
                                                                                    *ngIf="item?.selectedItemType?.typeName">
                                                                                    (
                                                                                    {{item?.selectedItemType?.typeName}}
                                                                                    )
                                                                              </span>
                                                                        </div>
                                                                        <div class="row">
                                                                              <div class="col-6 text-secondary">
                                                                                    Quantity: {{item?.count}}
                                                                              </div>
                                                                              <div class="col-6 text-end">
                                                                                    {{(item?.selectedItemType?.typeName?item?.selectedItemType?.typeValue:item?.itemPrice)*
                                                                                    item?.count | currency:'INR'}}
                                                                              </div>
                                                                        </div>

                                                                  </div>
                                                                  <hr>

                                                                  <p class="text-secondary m-0">
                                                                        Address: <span
                                                                              class="text-dark">{{order?.orderAddress}}</span>
                                                                  </p>
                                                                  <p class="text-secondary fw-bold text-end m-0 ">
                                                                        Total amount: <span
                                                                              class="text-dark">{{order?.orderAmount
                                                                              |
                                                                              currency:'INR'}}</span> </p>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>